.app {
    background: red;
    color: blue;
    top: 1%;
    left: 1%;
    padding: 1% 1% 2% 1%;
    position: relative;
    width: 2%;
    height: 4%;
    border-radius: 2rem 2rem 0 0;
    animation-name: animar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-delay: 0.2s;
  }
  
  @keyframes animar {
    0% {
      top: 1%;
      left: 1%;
    }
    25% {
      color: red;
      background: blue;
      top: 1%;
      left: 20%;
    }
    50% {
      color: blue;
      background: violet;
      top: 70%;
      left: 20%;
    }
    75% {
      color: violet;
      background: rgb(65, 155, 6);
      top: 70%;
      left: 1%;
    }
    100% {
      color: rgb(65, 155, 6);
      background: red;
      top: 1%;
      left: 1%;
    }
  }